<div>
  You can track result of uploaded excel here. It may take time to start processing you excel.
  Because it may currenty processing other users excel.
</div>
<div>
  Please do not go away from this pay or you may loose tack of what is going inside excel
<div>
<div id="show_status">

</div>
