<%= javascript_include_tag "active_admin_excel_upload/application" %>
<div >
  Processing Excel. Please wait. It may take a while.
</div>
<div>
  Please do not go away from this page or you may loose tack of processing.
</div>
<div id="show_status" style="margin-top: 30px;border: 1px solid lightgrey">

</div>
