<!DOCTYPE html>
<html>
<head>
  <title>Active admin excel upload</title>
  <%= stylesheet_link_tag    "active_admin_excel_upload/application", media: "all" %>
  <%= javascript_include_tag "active_admin_excel_upload/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
